# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
.venv/
venv/

# Environment Variables
.env

# ChromaDB
chroma_db/

# Mac
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# SQLite Browser
*.sqbpro